<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wumpus World</title>

        <meta charset="utf-8"/>
        <meta name="description" content="In Hunt the Wumpus, the player is an adventurer entering a dungeon looking for a treasure. The goal of the adventurer is to find the treasure and get out of the dungeon avoiding the pits where he can fall in and the Wumpus: a monster who kills anyone it sees.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Fonts from Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
        
        <!--CSS-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        
        <!--JavaScript-->
        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
        integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </head>
    <body>

        <div class='header'>
            <div class='title'>
                <a href='/'><h2>WUMPUS WORLD</h2></a>
            </div>
        </div>
        
        {% block content %}
        {% endblock %}

        <div class='bottom'>
            <p>Created by <em>Idriss Djiofack & Brenda Norbert</em>, 2022</p>
        </div>
        
    </body>
</html>